USE [master]
GO
/****** Object:  Database [Team5ADProject]    Script Date: 2017/1/23 18:20:26 ******/
CREATE DATABASE [Team5ADProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Team5ADProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Team5ADProject.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Team5ADProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Team5ADProject_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Team5ADProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Team5ADProject]
GO
USE [Team5ADProject]
GO
/****** Object:  Table [dbo].[Delegation]    Script Date: 2017/1/23 18:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delegation](
	[DelegationID] [nvarchar](50) NOT NULL,
	[DepartmentHeadID] [nvarchar](50) NOT NULL,
	[CoveringHeadID] [nvarchar](50) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Delegation] PRIMARY KEY CLUSTERED 
(
	[DelegationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Department]    Script Date: 2017/1/23 18:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[DepartmentID] [nvarchar](50) NOT NULL,
	[Collection_Point] [nvarchar](max) NOT NULL,
	[DepartmentName] [nvarchar](50) NOT NULL,
	[ContactName] [nvarchar](50) NOT NULL,
	[Telephone] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DisbursementLog]    Script Date: 2017/1/23 18:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisbursementLog](
	[DisbursementID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [nvarchar](50) NOT NULL,
	[DepartmentID] [nvarchar](50) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[NeededNumber] [int] NOT NULL,
	[RetrivedNumber] [int] NOT NULL,
	[GivenNumber] [int] NOT NULL,
	[Flag] [nvarchar](50) NULL,
	[ClerkID] [nvarchar](50) NULL,
 CONSTRAINT [PK_DisbursementLog_1] PRIMARY KEY CLUSTERED 
(
	[DisbursementID] ASC,
	[ItemID] ASC,
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Discrepancy]    Script Date: 2017/1/23 18:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discrepancy](
	[DiscrepancyID] [nvarchar](50) NOT NULL,
	[ItemID] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[RequestLog] [nvarchar](max) NULL,
	[Date] [datetime] NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Discrepancy] PRIMARY KEY CLUSTERED 
(
	[DiscrepancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Item]    Script Date: 2017/1/23 18:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ItemID] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[InStock] [int] NOT NULL,
	[BinNumber] [nchar](10) NOT NULL,
	[UOM] [nchar](10) NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[ReorderQty] [int] NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notification]    Script Date: 2017/1/23 18:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[Subject] [nvarchar](50) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 2017/1/23 18:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [nvarchar](50) NOT NULL,
	[ItemID] [nvarchar](50) NOT NULL,
	[TotalQty] [int] NOT NULL,
	[Justification] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[RequestLog] [nvarchar](max) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 2017/1/23 18:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[PurchaseOrderID] [nvarchar](50) NOT NULL,
	[OrderID] [nvarchar](50) NOT NULL,
	[SupplierID] [nvarchar](50) NOT NULL,
	[OrderQty] [int] NOT NULL,
	[ReceivedQty] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetails_1] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderID] ASC,
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OutstandingRequest]    Script Date: 2017/1/23 18:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutstandingRequest](
	[ItemID] [nvarchar](50) NOT NULL,
	[DepartmentID] [nvarchar](50) NOT NULL,
	[OutstandingQty] [int] NOT NULL,
 CONSTRAINT [PK_OutstandingRequest] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC,
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Request]    Script Date: 2017/1/23 18:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[RequestID] [nvarchar](50) NOT NULL,
	[RequestDate] [datetime] NOT NULL,
	[UserID] [nvarchar](50) NOT NULL,
	[RequestLog] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RequestDetails]    Script Date: 2017/1/23 18:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestDetails](
	[RequestID] [nvarchar](50) NOT NULL,
	[ItemID] [nvarchar](50) NOT NULL,
	[RequestQty] [int] NOT NULL,
	[RetrievedQty] [int] NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_RequestDetail] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC,
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Staff]    Script Date: 2017/1/23 18:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[UserID] [nvarchar](50) NOT NULL,
	[DepartmentID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 2017/1/23 18:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[SupplierName] [nvarchar](50) NOT NULL,
	[GSTRegistrationNo] [nvarchar](50) NOT NULL,
	[ContactName] [nvarchar](50) NOT NULL,
	[FaxNo] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SupplyDetails]    Script Date: 2017/1/23 18:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplyDetails](
	[ItemID] [nvarchar](50) NOT NULL,
	[SupplierID] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Priority] [int] NOT NULL,
 CONSTRAINT [PK_SupplyDetails_1] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC,
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TransactionLog]    Script Date: 2017/1/23 18:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionLog](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentID] [nvarchar](50) NOT NULL,
	[ItemID] [nvarchar](50) NOT NULL,
	[DateTime] [datetime] NULL,
	[RequestQty] [int] NULL,
	[ReceiveQty] [int] NULL,
	[Flag] [nvarchar](50) NULL,
 CONSTRAINT [PK_TransactionLog] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC,
	[DepartmentID] ASC,
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Delegation] ([DelegationID], [DepartmentHeadID], [CoveringHeadID], [StartDate], [EndDate]) VALUES (N'D00001', N'98039', N'92954', CAST(N'2016-01-21T00:00:00.000' AS DateTime), CAST(N'2016-01-25T00:00:00.000' AS DateTime))
INSERT [dbo].[Delegation] ([DelegationID], [DepartmentHeadID], [CoveringHeadID], [StartDate], [EndDate]) VALUES (N'D00002', N'98040', N'19390', CAST(N'2016-05-13T00:00:00.000' AS DateTime), CAST(N'2016-05-23T00:00:00.000' AS DateTime))
INSERT [dbo].[Department] ([DepartmentID], [Collection_Point], [DepartmentName], [ContactName], [Telephone]) VALUES (N'COMM', N'Medical School', N'Commerce Dept', N'Mr Mohd Azman', N'8741284')
INSERT [dbo].[Department] ([DepartmentID], [Collection_Point], [DepartmentName], [ContactName], [Telephone]) VALUES (N'CPSC', N'Management School', N'Computer Science', N'Mr Wee Kian Fatt', N'8901235')
INSERT [dbo].[Department] ([DepartmentID], [Collection_Point], [DepartmentName], [ContactName], [Telephone]) VALUES (N'ENGL', N'Startionery Store', N'English Dept', N'Mrs Pamela Kow', N'8742234')
SET IDENTITY_INSERT [dbo].[DisbursementLog] ON 

INSERT [dbo].[DisbursementLog] ([DisbursementID], [ItemID], [DepartmentID], [DateTime], [NeededNumber], [RetrivedNumber], [GivenNumber], [Flag], [ClerkID]) VALUES (192, N'C001', N'CPSC', CAST(N'2013-12-19T00:00:00.000' AS DateTime), 87, 87, 87, NULL, NULL)
INSERT [dbo].[DisbursementLog] ([DisbursementID], [ItemID], [DepartmentID], [DateTime], [NeededNumber], [RetrivedNumber], [GivenNumber], [Flag], [ClerkID]) VALUES (193, N'C002', N'ENGL', CAST(N'2013-12-19T00:00:00.000' AS DateTime), 161, 161, 161, NULL, NULL)
INSERT [dbo].[DisbursementLog] ([DisbursementID], [ItemID], [DepartmentID], [DateTime], [NeededNumber], [RetrivedNumber], [GivenNumber], [Flag], [ClerkID]) VALUES (194, N'C002', N'REGR', CAST(N'2013-12-19T00:00:00.000' AS DateTime), 68, 68, 68, NULL, NULL)
SET IDENTITY_INSERT [dbo].[DisbursementLog] OFF
INSERT [dbo].[Discrepancy] ([DiscrepancyID], [ItemID], [Quantity], [Reason], [Status], [Comment], [RequestLog], [Date], [UserID]) VALUES (N'00001', N'P021', 2, N'LOST', N'Approved', NULL, NULL, CAST(N'2016-12-08T02:08:45.000' AS DateTime), N'60001')
INSERT [dbo].[Discrepancy] ([DiscrepancyID], [ItemID], [Quantity], [Reason], [Status], [Comment], [RequestLog], [Date], [UserID]) VALUES (N'00002', N'P014', 2, N'LOST', N'PendingApproval', NULL, NULL, CAST(N'2016-12-05T02:08:45.000' AS DateTime), N'60002')
INSERT [dbo].[Discrepancy] ([DiscrepancyID], [ItemID], [Quantity], [Reason], [Status], [Comment], [RequestLog], [Date], [UserID]) VALUES (N'00003', N'R001', 7, N'LOST', N'Rejected', N'Too much lost', NULL, CAST(N'2016-12-16T02:08:45.000' AS DateTime), N'60003')
INSERT [dbo].[Item] ([ItemID], [Description], [Category], [InStock], [BinNumber], [UOM], [ReorderLevel], [ReorderQty]) VALUES (N'C001', N'Clips Double 1"', N'Clip', 500, N'C1        ', N'Dozen     ', 50, 30)
INSERT [dbo].[Item] ([ItemID], [Description], [Category], [InStock], [BinNumber], [UOM], [ReorderLevel], [ReorderQty]) VALUES (N'C002', N'Clips Double 2"', N'Clip', 600, N'C2        ', N'Dozen     ', 50, 30)
INSERT [dbo].[Item] ([ItemID], [Description], [Category], [InStock], [BinNumber], [UOM], [ReorderLevel], [ReorderQty]) VALUES (N'C003', N'Clips Double 3/4"', N'Clip', 500, N'C3        ', N'Dozen     ', 50, 30)
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([NotificationID], [UserID], [Subject], [Message], [Status], [Date]) VALUES (3, N'00242', N'd', N'xkjskfjsadkljfsalk', N'd', CAST(N'2016-01-21T00:00:00.000' AS DateTime))
INSERT [dbo].[Notification] ([NotificationID], [UserID], [Subject], [Message], [Status], [Date]) VALUES (5, N'00242', N'q', N'aaaaa', N'a', CAST(N'2016-01-21T00:00:00.000' AS DateTime))
INSERT [dbo].[Notification] ([NotificationID], [UserID], [Subject], [Message], [Status], [Date]) VALUES (6, N'00242', N'12', N'aaaaa', N'a', CAST(N'2016-01-21T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notification] OFF
INSERT [dbo].[Order] ([OrderID], [ItemID], [TotalQty], [Justification], [Status], [OrderDate], [UserID], [Comment], [RequestLog]) VALUES (N'DO0000001', N'E004', 366, N'Out of stock', N'Completed', CAST(N'2016-08-18T09:12:01.240' AS DateTime), N'30961', N'', N'')
INSERT [dbo].[Order] ([OrderID], [ItemID], [TotalQty], [Justification], [Status], [OrderDate], [UserID], [Comment], [RequestLog]) VALUES (N'DO0000002', N'H031', 456, N'Out of stock', N'Completed', CAST(N'2016-08-18T09:12:01.240' AS DateTime), N'41868', N'', N'')
INSERT [dbo].[Order] ([OrderID], [ItemID], [TotalQty], [Justification], [Status], [OrderDate], [UserID], [Comment], [RequestLog]) VALUES (N'DO0000003', N'S012', 244, N'Out of stock', N'Completed', CAST(N'2015-04-30T08:15:40.370' AS DateTime), N'99561', N'', N'')
INSERT [dbo].[OrderDetails] ([PurchaseOrderID], [OrderID], [SupplierID], [OrderQty], [ReceivedQty]) VALUES (N'PO0000001', N'DO0000001', N'ANLJ', 300, 300)
INSERT [dbo].[OrderDetails] ([PurchaseOrderID], [OrderID], [SupplierID], [OrderQty], [ReceivedQty]) VALUES (N'PO0000001', N'DO0000002', N'GRZL', 156, 156)
INSERT [dbo].[OrderDetails] ([PurchaseOrderID], [OrderID], [SupplierID], [OrderQty], [ReceivedQty]) VALUES (N'PO0000001', N'DO0000019', N'BANE', 80, 80)
INSERT [dbo].[OutstandingRequest] ([ItemID], [DepartmentID], [OutstandingQty]) VALUES (N'C001', N'CPSC', 87)
INSERT [dbo].[OutstandingRequest] ([ItemID], [DepartmentID], [OutstandingQty]) VALUES (N'C002', N'ENGL', 161)
INSERT [dbo].[OutstandingRequest] ([ItemID], [DepartmentID], [OutstandingQty]) VALUES (N'C002', N'REGR', 68)
INSERT [dbo].[RequestDetails] ([RequestID], [ItemID], [RequestQty], [RetrievedQty], [Status]) VALUES (N'COMM/00005', N'E005', 147, 0, N'Rejected')
INSERT [dbo].[RequestDetails] ([RequestID], [ItemID], [RequestQty], [RetrievedQty], [Status]) VALUES (N'COMM/00005', N'E033', 113, 0, N'Rejected')
INSERT [dbo].[RequestDetails] ([RequestID], [ItemID], [RequestQty], [RetrievedQty], [Status]) VALUES (N'COMM/00005', N'P040', 163, 0, N'Rejected')
GO
INSERT [dbo].[Staff] ([UserID], [DepartmentID], [Name], [Email], [Password], [Role]) VALUES (N'00242', N'ENGL', N'Pablo', N'izfmhonc.lmieivnii@zjqxcz.com', N'FZTL4MYR5Y25240HBVT', N'Employee')
INSERT [dbo].[Staff] ([UserID], [DepartmentID], [Name], [Email], [Password], [Role]) VALUES (N'00281', N'CPSC', N'Bruce', N'tsghcwb.ymukxpbsl@-adsxs.net', N'RCHC4681OMIGO6V', N'Employee')
INSERT [dbo].[Staff] ([UserID], [DepartmentID], [Name], [Email], [Password], [Role]) VALUES (N'00419', N'REGR', N'Randolph', N'btcwqnfs.qndvbcxf@undhbhx.jznafo.com', N'VUJW7D0M9J', N'Employee')
GO
INSERT [dbo].[Supplier] ([SupplierID], [Phone], [Email], [SupplierName], [GSTRegistrationNo], [ContactName], [FaxNo], [Address]) VALUES (N'AAYG', N'312409271', N'ivlcin477@cqgdcf.org', N'Tim', N'MR-0531925-6', N'Andre', N'297 0886', N'302 Rocky Nobel Avenue')
INSERT [dbo].[Supplier] ([SupplierID], [Phone], [Email], [SupplierName], [GSTRegistrationNo], [ContactName], [FaxNo], [Address]) VALUES (N'AGHD', N'751246397', N'awvrh8@jaumfd.org', N'Kristy', N'MR-2163654-5', N'Fred', N'974 9396', N'84 Green Hague Boulevard')
INSERT [dbo].[Supplier] ([SupplierID], [Phone], [Email], [SupplierName], [GSTRegistrationNo], [ContactName], [FaxNo], [Address]) VALUES (N'ALPA', N'461992854', N'alpha@gmail.com', N'ALPHA Office Supplies', N'MR-8500440-2', N'Ms Irene Tan', N'461 2238', N'Blk 1128, Ang Mo Kio Industrial Park
	#02-1108 Ang Mo Kio Street 62
	Singapore 622262')
INSERT [dbo].[SupplyDetails] ([ItemID], [SupplierID], [Price], [Priority]) VALUES (N'C001', N'JZMU', CAST(5.12 AS Decimal(18, 2)), 1)
INSERT [dbo].[SupplyDetails] ([ItemID], [SupplierID], [Price], [Priority]) VALUES (N'C001', N'KJJH', CAST(6.71 AS Decimal(18, 2)), 2)
INSERT [dbo].[SupplyDetails] ([ItemID], [SupplierID], [Price], [Priority]) VALUES (N'C001', N'LRXW', CAST(8.63 AS Decimal(18, 2)), 3)
GO
ALTER TABLE [dbo].[Delegation]  WITH CHECK ADD  CONSTRAINT [FK_Delegation_Staff] FOREIGN KEY([DepartmentHeadID])
REFERENCES [dbo].[Staff] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Delegation] CHECK CONSTRAINT [FK_Delegation_Staff]
GO
ALTER TABLE [dbo].[DisbursementLog]  WITH CHECK ADD  CONSTRAINT [FK_DisbursementLog_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DisbursementLog] CHECK CONSTRAINT [FK_DisbursementLog_Department]
GO
ALTER TABLE [dbo].[DisbursementLog]  WITH CHECK ADD  CONSTRAINT [FK_DisbursementLog_DisbursementLog] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ItemID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DisbursementLog] CHECK CONSTRAINT [FK_DisbursementLog_DisbursementLog]
GO
ALTER TABLE [dbo].[DisbursementLog]  WITH CHECK ADD  CONSTRAINT [FK_DisbursementLog_Staff] FOREIGN KEY([ClerkID])
REFERENCES [dbo].[Staff] ([UserID])
GO
ALTER TABLE [dbo].[DisbursementLog] CHECK CONSTRAINT [FK_DisbursementLog_Staff]
GO
ALTER TABLE [dbo].[Discrepancy]  WITH CHECK ADD  CONSTRAINT [FK_Discrepancy_Item] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ItemID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Discrepancy] CHECK CONSTRAINT [FK_Discrepancy_Item]
GO
ALTER TABLE [dbo].[Discrepancy]  WITH CHECK ADD  CONSTRAINT [FK_Discrepancy_Staff] FOREIGN KEY([UserID])
REFERENCES [dbo].[Staff] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Discrepancy] CHECK CONSTRAINT [FK_Discrepancy_Staff]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Staff] FOREIGN KEY([UserID])
REFERENCES [dbo].[Staff] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Staff]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Item] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ItemID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Item]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Staff] FOREIGN KEY([UserID])
REFERENCES [dbo].[Staff] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Staff]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Supplier]
GO
ALTER TABLE [dbo].[OutstandingRequest]  WITH CHECK ADD  CONSTRAINT [FK_OutstandingRequest_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OutstandingRequest] CHECK CONSTRAINT [FK_OutstandingRequest_Department]
GO
ALTER TABLE [dbo].[OutstandingRequest]  WITH CHECK ADD  CONSTRAINT [FK_OutstandingRequest_OutstandingRequest] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ItemID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OutstandingRequest] CHECK CONSTRAINT [FK_OutstandingRequest_OutstandingRequest]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Staff] FOREIGN KEY([UserID])
REFERENCES [dbo].[Staff] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Staff]
GO
ALTER TABLE [dbo].[RequestDetails]  WITH CHECK ADD  CONSTRAINT [FK_RequestDetails_Item] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ItemID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestDetails] CHECK CONSTRAINT [FK_RequestDetails_Item]
GO
ALTER TABLE [dbo].[RequestDetails]  WITH CHECK ADD  CONSTRAINT [FK_RequestDetails_Request] FOREIGN KEY([RequestID])
REFERENCES [dbo].[Request] ([RequestID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestDetails] CHECK CONSTRAINT [FK_RequestDetails_Request]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Department]
GO
ALTER TABLE [dbo].[SupplyDetails]  WITH CHECK ADD  CONSTRAINT [FK_SupplyDetails_Item] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ItemID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SupplyDetails] CHECK CONSTRAINT [FK_SupplyDetails_Item]
GO
ALTER TABLE [dbo].[SupplyDetails]  WITH CHECK ADD  CONSTRAINT [FK_SupplyDetails_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SupplyDetails] CHECK CONSTRAINT [FK_SupplyDetails_Supplier]
GO
ALTER TABLE [dbo].[TransactionLog]  WITH CHECK ADD  CONSTRAINT [FK_TransactionLog_Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Department] ([DepartmentID])
GO
ALTER TABLE [dbo].[TransactionLog] CHECK CONSTRAINT [FK_TransactionLog_Department]
GO
ALTER TABLE [dbo].[TransactionLog]  WITH CHECK ADD  CONSTRAINT [FK_TransactionLog_Item] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ItemID])
GO
ALTER TABLE [dbo].[TransactionLog] CHECK CONSTRAINT [FK_TransactionLog_Item]
GO
/****** Object:  StoredProcedure [dbo].[depttrend]    Script Date: 2017/1/23 18:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[depttrend]
AS
Begin

select s.DepartmentID, d.DepartmentName, r.RequestDate, FORMAT(r.RequestDate, 'MMM-yy') AS [Mon-YY], i.Category,rd.RetrievedQty, sd.Price,sum(rd.RetrievedQty*sd.Price) AS Sum
From Staff s, Request r, RequestDetails rd, Item i,SupplyDetails sd, Department d
where s.UserID = r.UserID
and r.RequestID= rd.RequestID
and rd.ItemID = sd.ItemID
and sd.ItemID= i.ItemID
and s.DepartmentID= d.DepartmentID
and sd.Priority = '1'
group by s.UserID, s.DepartmentID, r.RequestID, r.RequestDate, rd.ItemID, rd.RetrievedQty, sd.ItemID, sd.Price, i.ItemID, i.Category, d.DepartmentName, d.DepartmentID
order by DepartmentID, Category

end
GO
/****** Object:  StoredProcedure [dbo].[invtystatus]    Script Date: 2017/1/23 18:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[invtystatus]
AS
Begin
select * from Item

end
GO
/****** Object:  StoredProcedure [dbo].[ordertrend]    Script Date: 2017/1/23 18:20:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[ordertrend]
AS
Begin

select ss.SupplierName, ss.SupplierID, sd.ItemID, sd.Price, o.OrderDate, FORMAT(o.OrderDate, 'MMM-yy') AS [Mon-YY], o.TotalQty, i.Description, i.Category
From  supplier ss, SupplyDetails sd, Item i, [Order] o 
where ss.SupplierID = sd.SupplierID
and sd.ItemID = o.ItemID
and o.ItemID = i.ItemID
and o.Status = 'Completed'

order by SupplierName

end
GO
USE [master]
GO
